<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="ゴミの日カレンダー" />
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png" />
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://michinari-sasaki.github.io/vue-calender/assets/css/common.css" />
    <link rel="stylesheet" href="https://michinari-sasaki.github.io/vue-calender/assets/css/reset.css" />
    <link rel="stylesheet" href="https://michinari-sasaki.github.io/vue-calender/manifest.json" />
    <title>カレンダー</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="inner header__inner">
          <h1 class="header__title">ゴミの日カレンダー9</h1>
          <button class="header__button" v-on:click="settingButton">{{settingText}}</button>
        </div>
      </header>
      <div class="main">
        <section v-show="setting" class="setting">
          <div class="inner">
            <!-- 可燃ゴミ -->
            <ul>
              <li>可燃ゴミ収集日</li>
              <li>
                <dl>
                  <dt>収集日</dt>
                  <dd>
                    <label for="a1">第1</label>
                    <input type="checkbox" id="a1" value="1" v-model="this.checkedWhatDaysA" />
                  </dd>
                  <dd>
                    <label for="a2">第2</label>
                    <input type="checkbox" id="a2" value="2" v-model="this.checkedWhatDaysA" />
                  </dd>
                  <dd>
                    <label for="a3">第3</label>
                    <input type="checkbox" id="a3" value="3" v-model="this.checkedWhatDaysA" />
                  </dd>
                  <dd>
                    <label for="a4">第4</label>
                    <input type="checkbox" id="a4" value="4" v-model="this.checkedWhatDaysA" />
                  </dd>
                  <dd>
                    <label for="a5">第5</label>
                    <input type="checkbox" id="a5" value="5" v-model="this.checkedWhatDaysA" />
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>曜日</dt>
                  <dd>
                    <label for="b0">日</label>
                    <input type="checkbox" id="b0" value="0" v-model="this.checkedDaysA" />
                  </dd>
                  <dd>
                    <label for="b1">月</label>
                    <input type="checkbox" id="b1" value="1" v-model="this.checkedDaysA" />
                  </dd>
                  <dd>
                    <label for="b2">火</label>
                    <input type="checkbox" id="b2" value="2" v-model="this.checkedDaysA" />
                  </dd>
                  <dd>
                    <label for="b3">水</label>
                    <input type="checkbox" id="b3" value="3" v-model="this.checkedDaysA" />
                  </dd>
                  <dd>
                    <label for="b4">木</label>
                    <input type="checkbox" id="b4" value="4" v-model="this.checkedDaysA" />
                  </dd>
                  <dd>
                    <label for="b5">金</label>
                    <input type="checkbox" id="b5" value="5" v-model="this.checkedDaysA" />
                  </dd>
                  <dd>
                    <label for="b6">土</label>
                    <input type="checkbox" id="b6" value="6" v-model="this.checkedDaysA" />
                  </dd>
                </dl>
              </li>
            </ul>
            <!-- 不燃ゴミ -->
            <ul>
              <li>不燃ゴミ収集日</li>
              <li>
                <dl>
                  <dt>収集日</dt>
                  <dd>
                    <label for="c1">第1</label>
                    <input type="checkbox" id="c1" value="1" v-model="this.checkedWhatDaysB" />
                  </dd>
                  <dd>
                    <label for="c2">第2</label>
                    <input type="checkbox" id="c2" value="2" v-model="this.checkedWhatDaysB" />
                  </dd>
                  <dd>
                    <label for="c3">第3</label>
                    <input type="checkbox" id="c3" value="3" v-model="this.checkedWhatDaysB" />
                  </dd>
                  <dd>
                    <label for="c4">第4</label>
                    <input type="checkbox" id="c4" value="4" v-model="this.checkedWhatDaysB" />
                  </dd>
                  <dd>
                    <label for="c5">第5</label>
                    <input type="checkbox" id="c5" value="5" v-model="this.checkedWhatDaysB" />
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>曜日</dt>
                  <dd>
                    <label for="d0">日</label>
                    <input type="checkbox" id="d0" value="0" v-model="this.checkedDaysB" />
                  </dd>
                  <dd>
                    <label for="d1">月</label>
                    <input type="checkbox" id="d1" value="1" v-model="this.checkedDaysB" />
                  </dd>
                  <dd>
                    <label for="d2">火</label>
                    <input type="checkbox" id="d2" value="2" v-model="this.checkedDaysB" />
                  </dd>
                  <dd>
                    <label for="d3">水</label>
                    <input type="checkbox" id="d3" value="3" v-model="this.checkedDaysB" />
                  </dd>
                  <dd>
                    <label for="d4">木</label>
                    <input type="checkbox" id="d4" value="4" v-model="this.checkedDaysB" />
                  </dd>
                  <dd>
                    <label for="d5">金</label>
                    <input type="checkbox" id="d5" value="5" v-model="this.checkedDaysB" />
                  </dd>
                  <dd>
                    <label for="d6">土</label>
                    <input type="checkbox" id="d6" value="6" v-model="this.checkedDaysB" />
                  </dd>
                </dl>
              </li>
            </ul>
            <!-- 資源ゴミ -->
            <ul>
              <li>資源ゴミ収集日</li>
              <li>
                <dl>
                  <dt>収集日</dt>
                  <dd>
                    <label for="e1">第1</label>
                    <input type="checkbox" id="e1" value="1" v-model="this.checkedWhatDaysC" />
                  </dd>
                  <dd>
                    <label for="e2">第2</label>
                    <input type="checkbox" id="e2" value="2" v-model="this.checkedWhatDaysC" />
                  </dd>
                  <dd>
                    <label for="e3">第3</label>
                    <input type="checkbox" id="e3" value="3" v-model="this.checkedWhatDaysC" />
                  </dd>
                  <dd>
                    <label for="e4">第4</label>
                    <input type="checkbox" id="e4" value="4" v-model="this.checkedWhatDaysC" />
                  </dd>
                  <dd>
                    <label for="e5">第5</label>
                    <input type="checkbox" id="e5" value="5" v-model="this.checkedWhatDaysC" />
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>曜日</dt>
                  <dd>
                    <label for="f0">日</label>
                    <input type="checkbox" id="f0" value="0" v-model="this.checkedDaysC" />
                  </dd>
                  <dd>
                    <label for="f1">月</label>
                    <input type="checkbox" id="f1" value="1" v-model="this.checkedDaysC" />
                  </dd>
                  <dd>
                    <label for="f2">火</label>
                    <input type="checkbox" id="f2" value="2" v-model="this.checkedDaysC" />
                  </dd>
                  <dd>
                    <label for="f3">水</label>
                    <input type="checkbox" id="f3" value="3" v-model="this.checkedDaysC" />
                  </dd>
                  <dd>
                    <label for="f4">木</label>
                    <input type="checkbox" id="f4" value="4" v-model="this.checkedDaysC" />
                  </dd>
                  <dd>
                    <label for="f5">金</label>
                    <input type="checkbox" id="f5" value="5" v-model="this.checkedDaysC" />
                  </dd>
                  <dd>
                    <label for="f6">土</label>
                    <input type="checkbox" id="f6" value="6" v-model="this.checkedDaysC" />
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
          <div class="save">
            <div class="inner">
              <button v-on:click="this.dataSave()">全ての設定を保存</button>
              <button v-on:click="this.dataDelete()" class="delete">全ての設定を削除</button>
            </div>
          </div>
        </section>
        <section class="calender">
          <div class="inner">
            <div class="calender__top">
              <h2 class="calender__heading">{{this.thisYear}}年 {{this.specifiedMonth}}月</h2>
              <div class="calender__setting">
                <button v-on:click="this.decrease">前月</button>&nbsp;
                <button v-on:click="this.increase">次月</button>
              </div>
            </div>
            <ul class="calender__list">
              <li v-for="item in this.dayArray" class="week">{{item}}</li>
              <li v-for="item in this.startDate">&nbsp;</li>
              <li v-for="item,index in this.allDays" :key="index">
                <p v-if="this.hoge" class="date today">
                  <span>{{item.date}}</span>
                </p>
                <p v-else class="date">{{item.date}}</p>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <footer class="footer">ゴミの日アプリ</footer>
    </div>
    <script>
      //service workerの登録関係
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("service_worker.js")
          .then(function (registration) {
            console.log("ServiceWorker registration successful with scope: ", registration.scope);
          })
          .catch(function (err) {
            console.log("ServiceWorker registration failed: ", err);
          });
      }
      //Vueの設定
      Vue.createApp({
        data: function () {
          return {
            hoge: true,
            settingText: "設定を開く",
            setting: false,
            thisYear: null,
            startDate: null,
            lastDate: null,
            specifiedMonth: null,
            specifiedYear: null,
            toDay: null,
            thisMonth: null,
            dayArray: ["日", "月", "火", "水", "木", "金", "土"],
            allDays: [],
            thisDay: null,
            checkedDaysA: [],
            checkedWhatDaysA: [],
            checkedDaysB: [],
            checkedWhatDaysB: [],
            checkedDaysC: [],
            checkedWhatDaysC: [],
            combustibleFilter: null,
            nonBurnableFilter: null,
            resourceFilter: null,
          };
        },
        watch: {
          //指定月の設定
          specifiedMonth: function () {
            // this.allDays = [];
            // this.calender();
            // this.filter();
          },
          setting: function () {
            if (this.setting == true) {
              this.settingText = "設定を閉じる";
            } else {
              this.settingText = "設定を開く";
            }
          },
        },
        methods: {
          calender: function () {
            //月初日、月末日を取得
            this.thisYear = new Date().getFullYear();
            this.specifiedYear = new Date().getFullYear();
            this.toDay = new Date().getDate();
            this.thisMonth = new Date().getMonth() + 1;
            this.specifiedMonth = this.thisMonth;
            this.startDate = new Date(this.thisYear, this.specifiedMonth - 1, 1).getDay();
            this.lastDate = new Date(this.thisYear, this.specifiedMonth, 0).getDate();
            let whatDay = 0;
            for (let i = 1; i <= this.lastDate; i++) {
              this.thisDay = new Date(this.thisYear, this.specifiedMonth - 1, i);
              this.thisDay = this.thisDay.getDay();
              //最初の1日の曜日から何階目の曜日かカウントする
              if (this.thisDay == this.startDate) {
                whatDay += 1;
              }
              //指定月の日付を全てオブジェクト化
              this.allDays.push({
                year: this.specifiedYear,
                month: this.specifiedMonth,
                date: i,
                day: this.thisDay,
                whatDay: whatDay,
              });
            }
          },
          increase: function () {
            //月送りプラス
            if (this.specifiedMonth < 13) {
              this.specifiedMonth++;
              if (this.specifiedMonth == 13) {
                this.thisYear += 1;
                this.specifiedMonth = 1;
              }
            }
          },
          decrease: function () {
            //月送りマイナス
            if (this.specifiedMonth > 0) {
              this.specifiedMonth--;
              if (this.specifiedMonth == 0) {
                this.thisYear -= 1;
                this.specifiedMonth = 12;
              }
            }
          },
          settingButton: function () {
            this.setting = !this.setting;
          },
        },
        mounted: function () {
          //今年と今月を取得してデフォルト表示
          //this.dataLoad();
          this.calender();
        },
      }).mount("#app");
    </script>
  </body>
</html>
