<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <!-- <link rel="stylesheet" href="../vue-calender/manifest.json" /> -->
    <title>カレンダー</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="inner header__inner">
          <h1 class="header__title">ゴミの日カレンダー2</h1>
          <button class="header__button" v-on:click="this.setting= !this.setting">{{settingText}}</button>
        </div>
      </header>
      <div class="main">
        <section class="calender">
          <div class="inner">
            <div class="calender__top">
              <h2 class="calender__heading">{{this.thisYear}}年 {{this.specifiedMonth}}月</h2>
              <div class="calender__setting">
                <button v-on:click="this.decrease">前月</button>&nbsp;
                <button v-on:click="this.increase">次月</button>
              </div>
            </div>
            <ul class="calender__list">
              <li v-for="item in this.dayArray" class="week">{{item}}</li>
              <li v-for="item in this.startDate">&nbsp;</li>
              <li v-for="item,index in this.allDays" :key="index">
                <!-- console.log(this.specifiedYear + "/" + this.thisMonth + "/" + this.toDay);                 -->
                <template v-if="item.year==this.specifiedYear&&item.month==this.thisMonth&&item.date==this.toDay">
                  <p class="date today"><span>{{item.date}}</span></p>
                </template>
                <template v-else>
                  <p class="date">{{item.date}}</p>
                </template>
                <!-- 可燃ごみ -->
                <template v-if="this.combustibleFilter">
                  <template v-for="days in this.combustibleFilter.days">
                    <template v-if="item.day == days">
                      <template v-for="whatDays in this.combustibleFilter.whatDays">
                        <p class="type combustible" v-if="item.whatDay == whatDays">可燃</p>
                      </template>
                    </template>
                  </template>
                </template>
                <!-- 不燃ごみ -->
                <template v-if="this.nonBurnableFilter">
                  <template v-for="days in this.nonBurnableFilter.days">
                    <template v-if="item.day == days">
                      <template v-for="whatDays in this.nonBurnableFilter.whatDays">
                        <p class="type nonBurnable" v-if="item.whatDay == whatDays">不燃</p>
                      </template>
                    </template>
                  </template>
                </template>
                <!-- 資源ごみ -->
                <template v-if="this.resourceFilter">
                  <template v-for="days in this.resourceFilter.days">
                    <template v-if="item.day == days">
                      <template v-for="whatDays in this.resourceFilter.whatDays">
                        <p class="type resource" v-if="item.whatDay == whatDays">資源</p>
                      </template>
                    </template>
                  </template>
                </template>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <footer class="footer">ゴミの日アプリ</footer>
    </div>
    <script>
      // service workerの登録関係
      // if ("serviceWorker" in navigator) {
      //   navigator.serviceWorker
      //     .register("service_worker.js")
      //     .then(function (registration) {
      //       console.log("ServiceWorker registration successful with scope: ", registration.scope);
      //     })
      //     .catch(function (err) {
      //       console.log("ServiceWorker registration failed: ", err);
      //     });
      // }
      //Vueの設定
      Vue.createApp({
        data: function () {
          return {
            settingText: "設定を開く",
            setting: false,
            thisYear: null,
            startDate: null,
            lastDate: null,
            specifiedMonth: null,
            specifiedYear: null,
            toDay: null,
            thisMonth: null,
            dayArray: ["日", "月", "火", "水", "木", "金", "土"],
            allDays: [],
            thisDay: null,
            checkedDaysA: [],
            checkedWhatDaysA: [],
            checkedDaysB: [],
            checkedWhatDaysB: [],
            checkedDaysC: [],
            checkedWhatDaysC: [],
            combustibleFilter: null,
            nonBurnableFilter: null,
            resourceFilter: null,
          };
        },
        watch: {
          //指定月の設定
          specifiedMonth: function () {
            this.allDays = [];
            this.calender();
            this.filter();
          },
          setting: function () {
            console.log("ほげ");
            if (this.setting == true) {
              this.settingText = "設定を閉じる";
            } else {
              this.settingText = "設定を開く";
            }
          },
        },
        methods: {
          default: function () {
            //今年と今月を取得してデフォルト表示
            this.thisYear = new Date().getFullYear();
            this.specifiedYear = new Date().getFullYear();
            this.toDay = new Date().getDate();
            this.thisMonth = new Date().getMonth() + 1;
            this.specifiedMonth = this.thisMonth;
          },
          calender: function () {
            //月初日、月末日を取得
            this.default();
            this.startDate = new Date(this.thisYear, this.specifiedMonth - 1, 1).getDay();
            this.lastDate = new Date(this.thisYear, this.specifiedMonth, 0).getDate();
            let whatDay = 0;
            for (let i = 1; i <= this.lastDate; i++) {
              this.thisDay = new Date(this.thisYear, this.specifiedMonth - 1, i);
              this.thisDay = this.thisDay.getDay();
              //最初の1日の曜日から何階目の曜日かカウントする
              if (this.thisDay == this.startDate) {
                whatDay += 1;
              }
              //指定月の日付を全てオブジェクト化
              this.allDays.push({
                year: this.specifiedYear,
                month: this.specifiedMonth,
                date: i,
                day: this.thisDay,
                whatDay: whatDay,
              });
            }
          },
          increase: function () {
            //月送りプラス
            if (this.specifiedMonth < 13) {
              this.specifiedMonth++;
              if (this.specifiedMonth == 13) {
                this.thisYear += 1;
                this.specifiedMonth = 1;
              }
            }
          },
          decrease: function () {
            //月送りマイナス
            if (this.specifiedMonth > 0) {
              this.specifiedMonth--;
              if (this.specifiedMonth == 0) {
                this.thisYear -= 1;
                this.specifiedMonth = 12;
              }
            }
          },
          filter: function (garbageType, whatDays, days) {
            if (garbageType == "combustible") {
              this.combustibleFilter = {
                garbageType: "combustible",
                whatDays: whatDays,
                days: days,
              };
            }
            if (garbageType == "nonBurnable") {
              this.nonBurnableFilter = {
                garbageType: "nonBurnable",
                whatDays: whatDays,
                days: days,
              };
            }
            if (garbageType == "resource") {
              this.resourceFilter = {
                garbageType: "resource",
                whatDays: whatDays,
                days: days,
              };
            }
          },
          dataLoad: function () {
            if (localStorage.hasOwnProperty("combustible")) {
              this.combustibleFilter = JSON.parse(localStorage.getItem("combustible"));
            }
            if (localStorage.hasOwnProperty("nonBurnable")) {
              this.nonBurnableFilter = JSON.parse(localStorage.getItem("nonBurnable"));
            }
            if (localStorage.hasOwnProperty("resource")) {
              this.resourceFilter = JSON.parse(localStorage.getItem("resource"));
            }
          },
          dataSave: function () {
            this.filter("combustible", this.checkedWhatDaysA, this.checkedDaysA);
            this.filter("nonBurnable", this.checkedWhatDaysB, this.checkedDaysB);
            this.filter("resource", this.checkedWhatDaysC, this.checkedDaysC);
            const combustible = JSON.stringify(this.combustibleFilter);
            localStorage.setItem("combustible", combustible);
            const nonBurnable = JSON.stringify(this.nonBurnableFilter);
            localStorage.setItem("nonBurnable", nonBurnable);
            const resource = JSON.stringify(this.resourceFilter);
            localStorage.setItem("resource", resource);
            this.setting = false;
          },
          dataDelete: function () {
            localStorage.clear();
            location.reload();
          },
        },
        mounted: function () {
          //今年と今月を取得してデフォルト表示
          // this.dataLoad();
          // this.default();
          this.calender();
        },
      }).mount("#app");
    </script>
  </body>
</html>
