<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <title>ゴミの日アプリ</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="inner header__inner">
          <h1 class="header__title">ゴミの日アプリ</h1>
        </div>
      </header>
      <div class="main">
        <section class="calender">
          <div class="inner">
            <h2 class="heading">燃えるゴミの日は毎週：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="garbageDay(index+1,'burn')">{{item}}曜日</button>
            </template>
            <br />
            <h2 class="heading">燃えるゴミの日は隔週【1・3回目】：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="everyWeek(index+1,'even','burn')">{{item}}曜日</button>
            </template>
            <br />
            <h2 class="heading">燃えるゴミの日は隔週【2・4回目】：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="everyWeek(index+1,'odd','burn')">{{item}}曜日</button>
            </template>
            <br />
            <br />
            <h2 class="heading">燃えないゴミの日は毎週：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="garbageDay(index+1,'nonBurn')">{{item}}曜日</button>
            </template>
            <br />
            <h2 class="heading">燃えないゴミの日は隔週【1・3回目】：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="everyWeek(index+1,'even','nonBurn')">{{item}}曜日</button>
            </template>
            <br />
            <h2 class="heading">燃えないゴミの日は隔週【2・4回目】：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="everyWeek(index+1,'odd','nonBurn')">{{item}}曜日</button>
            </template>
            <br />
            <br />
            <h2 class="heading">資源ゴミの日は隔週【1・3回目】：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="everyWeek(index+1,'even','resource')">{{item}}曜日</button>
            </template>
            <br />
            <h2 class="heading">資源ゴミの日は隔週【2・4回目】：</h2>
            <template v-for="item,index in this.weekdaysArray" :key="index">
              <button v-on:click="everyWeek(index+1,'odd','resource')">{{item}}曜日</button>
            </template>
            <br />
            <br />
            <button v-on:click="saveData()">保存</button>
            <button v-on:click="clearData()">削除</button>
            <h2 class="calender__heading">{{currentMonth}}月</h2>
            <ul class="calender__list">
              <li v-for="item in this.dayArray" class="week">{{item}}</li>
              <li v-for="n in this.blankDays">&nbsp;</li>
              <li v-for="(item,index) in this.allDays" :key="index" v-bind:class="item.detail">
                <div class="calender__list__date" v-bind:class="{today:item.today}">{{item.date}}</div>
                <div class="calender__list__detail">
                  <template v-if="item.detail=='burn'">可燃ゴミ</template>
                  <template v-else-if="item.detail=='nonBurn'">不燃ゴミ</template>
                  <template v-if="item.detail=='resource'">資源ゴミ</template>
                </div>
              </li>
            </ul>
          </div>
          <div id="result"></div>
        </section>
      </div>
      <footer class="footer">ゴミの日アプリ</footer>
    </div>
    <script>
      Vue.createApp({
        data: function () {
          return {
            selected: null,
            startDate: null,
            currentMonth: null,
            toDate: null,
            toDay: null,
            lastDate: null,
            lastDay: null,
            blankDays: null,
            allDays: [],
            weekdaysArray: ["月", "火", "水", "木", "金", "土"],
            dayArray: ["日", "月", "火", "水", "木", "金", "土"],
          };
        },
        methods: {
          calender: function () {
            //現在の日付の取得
            const nowDate = new Date();
            const year = nowDate.getFullYear();
            const month = nowDate.getMonth() + 1;
            const date = nowDate.getDate();
            const day = this.dayArray[nowDate.getDay()];
            this.toDate = date;
            this.currentMonth = month;
            console.log("今日の日付：" + year + "年" + month + "月" + date + "日" + day + "曜日");
            //今月の月初の取得
            const startDate = new Date(year, month - 1, 1);
            this.startDate = startDate.getDay();
            //今月の月末の取得
            const lastDate = new Date(year, month, 0);
            this.lastDate = new Date(year, month, 0).getDate();
            this.lastDay = parseInt(lastDate.getDay(), 10);
            this.lastDay = parseInt(this.lastDay, 10);
            this.lastDay = 6 - this.lastDay;
            console.log("月末：" + this.lastDate);
            //オブジェクトに情報を格納
            for (let i = 1; i <= this.lastDate; i++) {
              let oneDay = new Date(year, month - 1, i);
              oneDay = oneDay.getDay();
              if (i == date) {
                this.toDay = true;
              } else {
                this.toDay = false;
              }
              this.allDays.push({ month: month, date: i, day: oneDay, today: this.toDay, detail: null });
            }
            this.blankDays = this.allDays[0].day;
          },
          //毎週のゴミの日指定
          garbageDay: function (index, garbageType) {
            for (let i = 0; i <= this.allDays.length - 1; i++) {
              if (this.allDays[i].day == index) {
                this.allDays[i].detail = garbageType;
              }
            }
          },
          //隔週指定
          everyWeek: function (index, oddEven, garbageType) {
            //引数で指定された曜日の日付をforで配列に格納する
            let everyWeek = [];
            for (let i = 0; i <= this.allDays.length - 1; i++) {
              if (this.allDays[i].day == index) {
                everyWeek.push(this.allDays[i].date);
              }
            }
            //奇数日（1,3隔週）偶数日（2,4隔週）で配列から奇数or偶数番目を削除
            if (oddEven == "odd") {
              everyWeek.splice(0, 1);
            }
            everyWeek.splice(1, 1);
            everyWeek.splice(2);
            for (let i = 0; i <= this.allDays.length - 1; i++) {
              if (everyWeek.indexOf(i) >= 0) {
                this.allDays[i - 1].detail = garbageType;
              }
            }
          },
          saveData: function () {
            console.log("hogeはっか");
            const tmp = JSON.stringify(this.allDays);
            localStorage.setItem("tmp", tmp);
          },
          clearData: function () {
            localStorage.clear();
            location.reload();
          },
        },
        mounted: function () {
          //ローカルストレージにkey tmpがあれば
          if (localStorage.hasOwnProperty("tmp")) {
            this.allDays = JSON.parse(localStorage.getItem("tmp"));
            this.blankDays = this.allDays[0].day;
            this.currentMonth = this.allDays[0].month;
          } else {
            this.calender();
          }
        },
      }).mount("#app");
    </script>
  </body>
</html>
