@mixin sp {
  @media screen and(max-width:480px) {
    @content;
  }
}
@mixin pc {
  @media screen and(min-width:1023px) {
    @content;
  }
}

img {
  max-width: 100%;
}

//color
$white: #fff;
$mint: #42b984;
$l-mint: #e2f5ed;
$gray: #ccc;
$l-gray: #f7f7f7;
$black: #273849;
$sumi: #475050;

html {
  font-size: 62.5%;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: $black;
}
body {
  line-height: 1.4;
  background: #f5f5f5;
}
#app {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
}
.inner {
  padding: 24px;
}
.heading {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 8px;
}

// header
.header {
  border-bottom: 1px solid $l-gray;
  &__inner {
    text-align: center;
    color: $mint;
    padding: 12px 16px;
    position: relative;
  }
  &__title {
    font-size: 1.8rem;
    // font-weight: bold;
  }
  &__button {
    appearance: none;
    position: absolute;
    background: none;
    color: $mint;
    right: 16px;
    top: 12px;
    font-size: 1.4rem;
  }
}
//main
.main {
  background: $white;
}
.setting {
  &__tab {
    display: flex;
    justify-content: space-between;
    p {
      width: 32.5%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px 4px 0 0;
      padding: 16px;
      font-size: 1.2rem;
      background: #ddd;
      &.tab_a {
        &.active {
          background: #d44c4c;
          color: #fff;
        }
      }
      &.tab_b {
        &.active {
          background: #4c89d4;
          color: #fff;
        }
      }
      &.tab_c {
        &.active {
          background: #afd44c;
          color: #fff;
        }
      }
    }
  }
  .inner {
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-flow: column;
      padding: 16px 0;
    }
    ul {
      width: 30%;
      background: #dddddd30;
      @include sp {
        width: 100%;
        &:not(:first-of-type) {
          margin-top: 24px;
        }
      }
      li {
        &:nth-of-type(1) {
          font-size: 1.8rem;
          padding: 8px;
        }
        dl {
          dt {
            font-size: 1.6rem;
            font-weight: bold;
            border-bottom: 1px solid $gray;
            margin-top: 8px;
            padding: 8px;
          }
          dd {
            position: relative;
            font-size: 1.6rem;
            border-bottom: 1px solid $gray;
            label {
              display: block;
              width: 100%;
              padding: 8px;
            }
            input[type="checkbox"] {
              position: absolute;
              top: 8px;
              right: 8px;
            }
          }
        }
      }
    }
  }
}
.save {
  padding: 24px 0 40px;
  .inner {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    button {
      appearance: none;
      border: none;
      padding: 16px 48px;
      white-space: nowrap;
      color: #fff;
      background: #42b984;
      border-radius: 40px;
      font-size: 1.6rem;
      margin-left: 8px;
      &.delete {
        white-space: nowrap;
        color: #42b984;
        background: #fff;
        border: 1px solid #42b984;
        border-radius: 40px;
        font-size: 1.4rem;
        margin-left: 8px;
        @include sp {
          margin-top: 16px;
        }
      }
    }
  }
}

.calender {
  .inner {
    padding: 40px 0 80px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  &__setting {
    button {
      appearance: none;
      border: none;
      padding: 2px 16px;
      white-space: nowrap;
      color: #42b984;
      background: #fff;
      border: 1px solid #42b984;
      border-radius: 4px;
      font-size: 1.4rem;
      &.active {
        appearance: none;
        border: none;
        padding: 8px 16px;
        white-space: nowrap;
        color: #fff;
        background: #42b984;
        border: 1px solid #42b984;
        border-radius: 40px;
        font-size: 1.4rem;
      }
    }
  }
  &__heading {
    font-weight: bold;
    font-size: 2rem;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background: $white;
    margin-top: 16px;
    li {
      position: relative;
      width: 14.28%;
      min-height: 80px;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column;
      border-bottom: 1px solid #ddd;
      padding: 8px;
      &:not(:nth-of-type(7n)) {
        border-right: 1px solid #ddd;
      }
      &:nth-of-type(7n + 1) {
        color: $gray;
      }
      &:nth-of-type(7n) {
        color: $gray;
      }
      &.week {
        align-items: center;
        min-height: auto;
        font-size: 1.4rem;
      }
      &.burn {
        background: #fee6e6;
      }
      &.nonBurn {
        background: #e3eefc;
      }
      &.resource {
        background: #e3fce4;
      }
      p {
        &.type {
          font-size: 1.5rem;
        }
        &.date {
          position: absolute;
          right: 8px;
          top: 8px;
        }
        &.combustible {
          color: #d44c4c;
        }
        &.nonBurnable {
          color: #4c89d4;
        }
        &.resource {
          color: #afd44c;
        }
        &.today {
          font-weight: bold;
          color: $mint;
          span {
            position: relative;
            z-index: 9;
          }
          &::before {
            position: absolute;
            display: block;
            content: "";
            width: 30px;
            height: 30px;
            background: #e2f5ed;
            z-index: 0;
            border-radius: 50%;
            top: -3px;
            left: -5px;
          }
        }
      }
    }
    &__date {
      font-size: 1.6rem;
      font-weight: bold;
      &.today {
        color: $mint;
        font-size: 2.4rem;
      }
    }
    &__day {
      font-size: 1.6rem;
      &.holiday {
        color: #aaa;
      }
      &.burn {
        color: red;
      }
    }
    &__detail {
      font-size: 1.2rem;
      &.holiday {
        color: #aaa;
      }
      &.burn {
        color: red;
      }
    }
  }
}

.footer {
  font-size: 1.2rem;
  padding: 16px 0;
  background: #318760;
  text-align: center;
  color: $white;
}
